:root {
  --background: #131313;
  --font-color: #bdbdbd;
  --links-color: #f7a501;
}

body {
  background-color: var(--background);
  color: var(--font-color);
}

/* navigation */
.main-navbar {
  display: flex;
  justify-content: space-between;
}

a {
  color: var(--font-color);
  text-decoration: none;
  list-style-type: none;
  padding: 0 .2rem;
  margin: 0 .1rem;
}

.jion a{
    background-color: var(--links-color);
    padding: 1rem;
    margin: 2rem;
    color: #000;
}
